body {
    font-family: sans-serif;
}
text {
    pointer-events: none;
    font-weight: 600;
}
.title {
    text-align: center;
    margin-top: 40px;
}
#description {
    color: gray;
    text-align: center;
}